{{>header}}
{{>navbar}}
<section class="container my-5">
    <div class="alert alert-danger">
        <p>{{err}}</p>
        <a href="/" class="btn btn-primary">Back Home</a>
    </div>
</section>
{{>footer}}